################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/API/DatingApp.API/bin/Debug/net8.0
/src/API/DatingApp.API/obj
/src/API/DatingApp.Common/bin/Debug/net8.0
/src/API/DatingApp.Common/obj
/src/API/DatingApp.Framework.Business/bin/Debug/net8.0
/src/API/DatingApp.Framework.Business/obj
/src/API/DatingApp.Framework.Data/bin/Debug/net8.0
/src/API/DatingApp.Framework.Data/obj
/src/Client/.vscode
/.vs
/src/Database/DatingApp.Database/bin/Debug
/src/Database/DatingApp.Database/obj/Debug
/src/Database/DatingApp.Database/Import Schema Logs
